$fonte--principal: 'Comic Sans';

$sombra--texto--leve: -1px 1px 4px rgba(0,0,0,0.32);
$sombra--caixa: -2px 2px 14px -5px rgba(0,0,0,0.47);

$preto      :#1A1A1A;
$vermelho   :#8B0000;
$cinza      :#333333;
$avermelhado:#3B0B17;
$cinza      :#C0C0C0;
